<h2 class="well">Word Puzzle</h2>

<h4>Can you guess the word?</h4>
<h4>$userOutput</h4>

<p>Too difficult? Click the button below to see the answer.</p>

<form action="/answer">
  <button type="submit" class="btn btn-danger">See Answer</button>
</form>
